<div class="container">
  <div class="first-column">
    <ul>
      <li><img src="../../assets/logo.png" alt=""></li>
      <li>{{ "Movies"|translate }}</li>
      <li>{{ "TvShows"|translate }}</li>
      <li>{{ "People"|translate }}</li>
      <li>{{ "More"|translate }}</li>
    </ul>
  </div>
  <div class="second-column">
    <ul>
      <li><mat-icon>add</mat-icon></li>
      <li>ES</li>
      <li>{{"ToAccess"|translate}}</li>
      <li><mat-icon>search</mat-icon></li>
    </ul>
  </div>
</div>
